:root{
    --primary:#3B2A9F;
    --secondary:#FA8305;
    --black:#1C140F;
    --red:#CB1111;
}

@font-face {
    font-family: 'Bold';
    font-weight: 700;
    src: url('../assets/Poppins-Bold.ttf') ;
       
}

@font-face {
    font-family: 'Medium';
    font-weight: 500;
    src: url('../assets/Poppins-Medium.ttf') ;
       
}

.root{
    background-color: var(--primary);
    height: 700px;
    font-family: 'Bold';
}

.root h1{
    margin-top: 40px;
    margin-bottom: 200px;
}

button{
    border-radius: 30px;
    padding: 5px  100px;
    border: none;
    font-family: 'Medium';
}

.startbtn{
    background-color: var(--secondary);
}

.scoresbtn{
    background-color: var(--primary);
}

p{
    color: var(--secondary);
    margin-top: 100px;
}
