:root{
    --primary:#3B2A9F;
    --secondary:#FA8305;
    --black:#1C140F;
    --red:#CB1111;
}

@font-face {
    font-family: 'Bold';
    font-weight: 700;
    src: url('../assets/Poppins-Bold.ttf') ;
       
}

.scores{
    font-family: 'Bold';
    background-color: var(--primary);
}